# EPSY 5122: Programming for Social Science Researchers
## Assignment 11
### Due Tuesday, November 29, 2022 by 2:30pm

#### Problem 0

If you've made it to this document, you likely already did Problem 0 from the readme.  But just in case, here it is again!

a) Let's watch some videos! I recommend all the videos in this series (for future learning), but we will just focus on two now. Watch the first half of this video (https://www.youtube.com/watch?v=_NrSWLQsDL4&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=3) -- just the part about forking, you can ignore pull requests!  Then watch this video:
https://www.youtube.com/watch?v=yXT1ElMEkW8&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=6 (you don't have to do the terminal git commands, you can use the GitKraken clone strategy we used in class)

b) Using what you learned in 0a, **fork** my GitHub repository (remote repo) to your own account, then **clone** to your hard drive (local repo) using GitKraken (or use the command-line if you want the extra challenge).  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment (e.g., "Just finished Part 1! Git is fun!" or whatever).  Then PUSH back to GitHub.

###### Note on privacy!

By default, GitHub repos are public (promoting open source sharing of code), but of course you are more than welcome to make your code for this assignment private, as is your right!  Unfortunately, it's a little bit complicated because GitKraken recently made a change that the free version of their software doesn't allow for private repo access, and you need the paid version.  So here are 3 ways to do this privately:

1) GitKraken partners with GitHub to provide a free pack of resources (including the pro version of GitKraken) for *students*.  That's you!  So you can sign up here *only if you want to do this*: https://education.github.com/pack?utm_source=github+gitkraken

2) Just keep your GitHub repo public while you're working on this project.  Use free GitKraken.  Then switch the GitHub repo to Private only when you're done using GitKraken to push to GitHub.

3) Keep the repo private and use the terminal git commands in the YouTube video for Problem 0a.

To make the repo private:
On your GitHub repo, go to Settings > Manage Access > Manage (under Public Repository) > Change Visibility.  Then add me (jkbye) as a 'collaborator' so I can see it: Settings > Manage Access > Invite a Collaborator (green button) > add 'jkbye'.

#### Problem 1

Now let's get to Jupyter!

a) Import any helpful libraries in this Jupyter Notebook.

b) Load the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

c) Adapt the example code in the chunk below to replace all spaces in column names with underscores. This is good practice in order to not cause problems with functions that don't allow spaces in variable names (e.g., **smf.ols**).

d) Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.

e) Find the descriptives for numeric columns.

f) Commit your changes and push to GitHub!

In [137]:
# Problem 1 code here (can split into multiple code chunks if you want)
# a)
import pandas as pd
import numpy as np
from statistics import mean

# b)
school_data = pd.read_csv('in_data/MA_Public_Schools_2017.csv')

# c)
school_data.columns = school_data.columns.str.replace(' ', '_') 
# notice this replaces the 1st argument w/ the 2nd

# d)
school_data.columns = school_data.columns.str.replace('%', 'Perc')

# e)
for i in range(len(school_data.keys())):
    try:
        mean(school_data[school_data.keys()[i]]) 
        print(school_data[school_data.keys()[i]].describe())
    except TypeError:
        None

#f)

count    1.861000e+03
mean     2.918442e+06
std      3.941407e+06
min      1.000200e+04
25%      9.700600e+05
50%      2.100410e+06
75%      3.310030e+06
max      3.902090e+07
Name: School_Code, dtype: float64
count    1.861000e+03
mean     2.918254e+06
std      3.941370e+06
min      1.000000e+04
25%      9.700000e+05
50%      2.100000e+06
75%      3.310000e+06
max      3.902000e+07
Name: District_Code, dtype: float64
count    1861.000000
mean       15.837722
std        37.784512
min         0.000000
25%         0.000000
50%         0.000000
75%        15.000000
max       560.000000
Name: PK_Enrollment, dtype: float64
count    1861.000000
mean       35.535196
std        44.632989
min         0.000000
25%         0.000000
50%        17.000000
75%        64.000000
max       557.000000
Name: K_Enrollment, dtype: float64
count    1861.000000
mean       36.629232
std        42.732414
min         0.000000
25%         0.000000
50%        22.000000
75%        66.000000
max       245.000000
Name: 1_Enrollment, dtype: float64
count    1861.000000
mean       37.518538
std        43.842672
min         0.000000
25%         0.000000
50%        20.000000
75%        68.000000
max       250.000000
Name: 2_Enrollment, dtype: float64
count    1861.000000
mean       38.584632
std        46.541783
min         0.000000
25%         0.000000
50%        16.000000
75%        71.000000
max       319.000000
Name: 3_Enrollment, dtype: float64
count    1861.000000
mean       38.717356
std        48.915559
min         0.000000
25%         0.000000
50%        16.000000
75%        70.000000
max       446.000000
Name: 4_Enrollment, dtype: float64
count    1861.000000
mean       38.089199
std        55.040382
min         0.000000
25%         0.000000
50%         0.000000
75%        66.000000
max       487.000000
Name: 5_Enrollment, dtype: float64
count    1861.000000
mean       37.879635
std        75.304290
min         0.000000
25%         0.000000
50%         0.000000
75%        45.000000
max       490.000000
Name: 6_Enrollment, dtype: float64
count    1861.000000
mean       38.543794
std        81.320657
min         0.000000
25%         0.000000
50%         0.000000
75%        22.000000
max       511.000000
Name: 7_Enrollment, dtype: float64
count    1861.000000
mean       38.540570
std        82.048832
min         0.000000
25%         0.000000
50%         0.000000
75%        20.000000
max       644.000000
Name: 8_Enrollment, dtype: float64
count    1861.000000
mean       40.936593
std       107.149344
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1223.000000
Name: 9_Enrollment, dtype: float64
count    1861.000000
mean       39.344976
std       102.234288
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1048.000000
Name: 10_Enrollment, dtype: float64
count    1861.000000
mean       38.301451
std       100.030758
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       978.000000
Name: 11_Enrollment, dtype: float64
count    1861.000000
mean       37.290167
std        96.420554
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       993.000000
Name: 12_Enrollment, dtype: float64
count    1861.000000
mean        0.743149
std         3.355883
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        43.000000
Name: SP_Enrollment, dtype: float64
count    1850.00000
mean       18.54827
std        20.03104
min         0.00000
25%         3.20000
50%        10.50000
75%        27.90000
max       100.00000
Name: Perc_First_Language_Not_English, dtype: float64
count    1850.000000
mean        9.548432
std        13.163096
min         0.000000
25%         0.900000
50%         3.600000
75%        13.200000
max        82.900000
Name: Perc_English_Language_Learner, dtype: float64
count    1850.000000
mean       18.223676
std        11.462500
min         0.000000
25%        12.900000
50%        16.100000
75%        20.000000
max       100.000000
Name: Perc_Students_With_Disabilities, dtype: float64
count    1850.000000
mean       46.616216
std        22.966461
min         0.000000
25%        27.400000
50%        41.200000
75%        64.975000
max       100.000000
Name: Perc_High_Needs, dtype: float64
count    1850.000000
mean       31.816649
std        22.409908
min         0.000000
25%        12.825000
50%        25.900000
75%        47.800000
max        94.400000
Name: Perc_Economically_Disadvantaged, dtype: float64
count    1850.000000
mean        8.699459
std        13.698280
min         0.000000
25%         1.400000
50%         3.300000
75%         8.700000
max        86.900000
Name: Perc_African_American, dtype: float64
count    1850.000000
mean        6.050919
std         8.763984
min         0.000000
25%         1.200000
50%         2.600000
75%         6.900000
max        73.700000
Name: Perc_Asian, dtype: float64
count    1850.000000
mean       18.996649
std        22.575734
min         0.000000
25%         4.000000
50%         8.200000
75%        27.300000
max        98.000000
Name: Perc_Hispanic, dtype: float64
count    1850.000000
mean       62.326486
std        29.562086
min         0.000000
25%        41.000000
50%        73.200000
75%        86.600000
max       100.000000
Name: Perc_White, dtype: float64
count    1850.000000
mean        0.233459
std         0.501732
min         0.000000
25%         0.000000
50%         0.000000
75%         0.300000
max         8.000000
Name: Perc_Native_American, dtype: float64
count    1850.000000
mean        0.098000
std         0.285813
min         0.000000
25%         0.000000
50%         0.000000
75%         0.100000
max         6.100000
Name: Perc_Native_Hawaiian,_Pacific_Islander, dtype: float64
count    1850.000000
mean        3.596595
std         2.420830
min         0.000000
25%         1.900000
50%         3.200000
75%         4.775000
max        17.400000
Name: Perc_Multi-Race,_Non-Hispanic, dtype: float64
count    1850.000000
mean       51.899405
std         5.121577
min        24.000000
25%        49.400000
50%        51.400000
75%        53.600000
max       100.000000
Name: Perc_Males, dtype: float64
count    1850.000000
mean       48.095135
std         5.122469
min         0.000000
25%        46.400000
50%        48.600000
75%        50.600000
max        76.000000
Name: Perc_Females, dtype: float64
count    1823.000000
mean       18.320570
std         3.966979
min         2.000000
25%        16.300000
50%        18.600000
75%        20.800000
max        41.100000
Name: Average_Class_Size, dtype: float64
count    1823.000000
mean      523.515634
std       357.861705
min         2.000000
25%       306.500000
50%       445.000000
75%       634.500000
max      4327.000000
Name: Number_of_Students, dtype: float64
count    1.769000e+03
mean     5.625178e+07
std      9.335788e+07
min      5.534000e+04
25%      1.215839e+07
50%      2.269741e+07
75%      4.808571e+07
max      3.838662e+08
Name: Salary_Totals, dtype: float64
count      1769.000000
mean      74036.641040
std        7990.377315
min       34588.000000
25%       68572.000000
50%       73471.000000
75%       78256.000000
max      100731.000000
Name: Average_Salary, dtype: float64
count    1769.000000
mean      707.853024
std      1065.807405
min         2.000000
25%       166.000000
50%       308.000000
75%       627.000000
max      4323.000000
Name: FTE_Count, dtype: float64
count    1.768000e+03
mean     1.518097e+08
std      2.661339e+08
min      6.975500e+05
25%      3.061598e+07
50%      5.293331e+07
75%      1.287478e+08
max      1.093104e+09
Name: In-District_Expenditures, dtype: float64
count     1768.000000
mean      9376.335633
std      14015.732845
min         38.400000
25%       2312.150000
50%       4205.300000
75%       7700.400000
max      56858.800000
Name: Total_In-district_FTEs, dtype: float64
count     1768.00000
mean     14573.85582
std       2940.80342
min       9451.51000
25%      12785.25000
50%      13599.49000
75%      15478.08000
max      38780.85000
Name: Average_In-District_Expenditures_per_Pupil, dtype: float64
count    1.768000e+03
mean     1.731198e+08
std      3.093057e+08
min      1.132413e+06
25%      3.353242e+07
50%      5.863741e+07
75%      1.335444e+08
max      1.269580e+09
Name: Total_Expenditures, dtype: float64
count     1768.000000
mean     10466.072624
std      16287.467986
min         82.800000
25%       2442.900000
50%       4392.000000
75%       8378.900000
max      65964.600000
Name: Total_Pupil_FTEs, dtype: float64
count     1768.000000
mean     15038.254949
std       2743.977057
min      10399.970000
25%      13339.700000
50%      14137.480000
75%      15900.290000
max      30505.050000
Name: Average_Expenditures_per_Pupil, dtype: float64

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

d) Commit your changes and push to GitHub!

In [140]:
# Problem 2 code here (can split into multiple code chunks if you want)
# a)
school_data_new = school_data.drop(['District_Code'],axis=1)

# b)
enrollname = []
for n in range(len(school_data_new.keys())):
   if 'Enrollment' in school_data_new.keys()[n]:
    enrollname.append(school_data_new.keys()[n])
school_data_new['TOTAL_Enrollment'] = school_data[enrollname].sum(axis = 1)

## resources used: https://sparkbyexamples.com/pandas/pandas-sum-dataframe-columns/

# c)
school_data_new.groupby('District_Name')['TOTAL_Enrollment'].mean()

District_Name
Abby Kelley Foster Charter Public (District)            1425.000000
Abington                                                 383.200000
Academy Of the Pacific Rim Charter Public (District)     527.000000
Acton-Boxborough                                         620.888889
Acushnet                                                 477.500000
                                                           ...
Winthrop                                                 492.750000
Woburn                                                   420.727273
Worcester                                                566.200000
Worthington                                               60.000000
Wrentham                                                 515.500000
Name: TOTAL_Enrollment, Length: 410, dtype: float64

#### Problem 3

a) Visualize each bivariate relationship among Average_Class_Size, Average_Salary, Perc_Economically_Disadvantaged, and Perc_English_Language_Learner.  Use the Seaborn function **pairplot**.  The argument to `pairplot` should be `school_data[['Average_Class_Size', 'Average_Salary', 'Perc_Economically_Disadvantaged', 'Perc_English_Language_Learner']]`, which will just pull those columns out from the full data frame.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the *summary*, and write a sentence interpreting the results (does not need to be detailed, just practice retrieving the relevant info on predictor significance, etc.)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables.  To do this, the formula interface would look like `"outcome_name ~ predictor1_name + predictor2_name + predictor3_name"`

b) Print the summary from 4a, and write a short interpretation of the results, especially comparing it to Problem 3c.  

c) Add School_Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder). By default, Jupyter may put your HTML file in your default Downloads folder (wherever that is) -- if that happens, just manually move the file into this repo folder.

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas. Remember the note from Problem 0: you can keep your repo private and add me as a collaborator.